*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

}

h1,h2,h3,h4 {
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

ul a
{
    list-style: none;
    text-decoration: none;
    color: var(--color-font-dark);
}